<a href="https://colab.research.google.com/github/pratikdash07/Capg_ML/blob/main/10_02_26_pandas_mtl_seaborn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
# Series

# Looks like 1-D aray

# Syntax  :-

# 1. name=numbers
# 2. name=values

# s = pd.Series([1,2,3,4,5])
# s

# s = pd.Series ((1,2,3,4,5))
# s

# s_c = pd.Series([1,2,3,4,5],name='numbers')
# s_c

# s_c = pd.Series ([1,2,3,4,5] , name = 'numbers' , index = range(1,6))
# s_c

# s_c = pd.Series ([1,2,3,4,5] , name = 'numbers' , index = ['a','b','c','d','e'])
# s_c



# Upcasting :-

# s = pd.Series ((1,2,3,4,5.5))
# s

# s = pd.Series ((1,2,3,4,5,True))             # -> Here, string will not be typecasted, it is also treated as an object.
# s

# s = pd.Series ((1,5.5,{1,2}))
# s

# s = pd.Series (({1,2,3}))                    # -> Set is unordered
# s

# s = pd.Series ({'a':1,2:2,3:3},name='values')
# s

# a = np.array ([1,2,3,'string'])
# s_a = pd.Series(a)
# s_a

In [ ]:
# DataFrame

# df = pd.DataFrame(a)
# df

# df = pd.DataFrame(a,s)
# df

# d={'name':['harshit','abc','def'],
#    'age':[23,24,25],
#    'gender':('M','M','F'),                      # -> tuple and list both work.
#    'marks':[200,150,199]}

# df = pd.DataFrame(d,index=[1,2,3])
# df

# df['name'][1]



# Functions :-

# df.info()

# df.describe()

# df.columns

# df.head()                 # Top 5 rows (default=5)

# df.tail()                 # Bottom 5 rows

# df['name'].unique()

# df['gender'].unique()

# df.value_counts()

# df['name'].value_counts()

# df1 = df.sort_values(by = 'marks', ascending = False)
# df1.reset_index(inplace = True)                              # Will only work for DataFrame
# df1

# sorted_by_marks = df.sort_values(by = 'marks', ascending = False)
# sorted_by_marks.reset_index(inplace = True)
# sorted_by_marks



# sorted_by_marks.drop(0)

# sorted_by_marks('index',axis=1)

# sorted_by_marks('index',axis=1,inplace=True)

In [ ]:
# Indexing and Slicing in Series

# s = pd.Series([1,2,3,4,5])
# s

# s[0]

# s[1::2]
# s[::-1]
# s[-1:-4]

In [ ]:
# Indexing and Slicing in DF

# df[0]                          # Error
# df['name','age']               # Error

# df['age']

# df['marks'][1::2]
# df['marks'][-1:]
# df['marks'][-1:-4]              # -> -ve indexing not preferred.

In [ ]:
# Covering Limitation

# 1. loc

# Syntax :- df.loc[rows,cols]

# df.loc[[0,2,4],['name','age']]

# df.loc[1::2,['name','age']]              # Column slicing cannot be performed here.



# 2. iloc

# df.iloc(1::2)

In [ ]:
#Importing df

df = pd.read_csv("https://raw.githubusercontent.com/Taj1920/Data-Analysis-Datasets/refs/heads/main/Datasets-Practice/titanic.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   name      1309 non-null   object
 2   sex       1309 non-null   object
 3   age       1046 non-null   float64
 4   sibsp     1309 non-null   int64
 5   parch     1309 non-null   int64
 6   ticket    1309 non-null   object
 7   fare      1308 non-null   float64
 8   cabin     295 non-null    object
 9   embarked  1307 non-null   object
 10  survived  1309 non-null   int64
dtypes: float64(2), int64(4), object(5)
memory usage: 112.6+ KB

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0

In [ ]:
df_af=pd.read_csv('amazon_fires.csv',encoding='ISO-8859-10')
df_af

FileNotFoundError: [Errno 2] No such file or directory: 'amazon_fires.csv'

In [ ]:
# Boolean Filtering

amazon_fires[amazon_fires['ano']>1990]

In [ ]:
# Grouping #it is done on categorical columns
df['sex'].unique()
#Syntax
#data_frame.groupby('column_name').get_group('value')
female = df.groupby('sex').get_group('female')


df['embarked'].unique()

embarked_c = df.groupby('embarked').get_group('C')

fare_more_than_400 = df[df['fare']>400]
fare_more_than_400['fare'].sum()
fare_more_than_400['name'].str.upper()

female_died = df.groupby('survived').get_group(0).groupby('sex').get_group('female')
female_died[female_died['age']<18]


df.groupby(['sex', 'survived']).get_group(('female', 0)).count

In [ ]:
# Merging

In [ ]:
#drop rows or columns
#sort data
#reset index
#applying inbuilt functions
#




#handling missing values
# We can drop the entire row where null/nan is there
df.dropna()
df.info()

#fill nan for integer or float data type - 0,mean,mode
#fill with backward fill and forward fill
df['cabin'].fillna('unknown').unique()
df['cabin']

merged['trial'].fillna('0')
#duplicates


#conversion of column's data type into another data type.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
###MAtplotlib and seaborn
from matplotlib.legend import Legend
num = np.arange(1,11)
sq = num**2
cub = num**3

plt.figure(figsize=(10,3))
plt.title('linechart')

#fontsize, color
plt.plot(num,cub,marker = 'o')
#marker, markersize , markeredegdecolor, markerfacecolor, linewidth ,linestyle

plt.xlabel('numbers')
plt.ylabel('squares')

plt.xticks(range(1,11),)

##annotate
for i in range(len(num)):
  plt.annotate(f'{num[i]},{cub[i]}',(num[i],cub[i]),textcoords="offset points",xytext=(-20,5)) # tuple is passed as it is how things are represented
  #first part is for text display, second part is for where and how to display




plt.show()