<a href="https://colab.research.google.com/github/pratikdash07/Capg_ML/blob/main/12_02_2026(Encoding).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.12/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (3.6.0)

DATASET

In [ ]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset("tips")

df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

LAbel Encoder

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['smoker'] = le.fit_transform(df['smoker'])

df

     total_bill   tip     sex  smoker   day    time  size
0         16.99  1.01  Female       0   Sun  Dinner     2
1         10.34  1.66    Male       0   Sun  Dinner     3
2         21.01  3.50    Male       0   Sun  Dinner     3
3         23.68  3.31    Male       0   Sun  Dinner     2
4         24.59  3.61  Female       0   Sun  Dinner     4
..          ...   ...     ...     ...   ...     ...   ...
239       29.03  5.92    Male       0   Sat  Dinner     3
240       27.18  2.00  Female       1   Sat  Dinner     2
241       22.67  2.00    Male       1   Sat  Dinner     2
242       17.82  1.75    Male       0   Sat  Dinner     2
243       18.78  3.00  Female       0  Thur  Dinner     2

[244 rows x 7 columns]

One-Hot-Encoder

In [ ]:
# df = pd.get_dummies(df, columns=['day'])
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse_output=False)

day_encoded = ohe.fit_transform(df[['day']])

day_df = pd.DataFrame(day_encoded, columns=ohe.get_feature_names_out(['day']))

day_df

     day_Fri  day_Sat  day_Sun  day_Thur
0        0.0      0.0      1.0       0.0
1        0.0      0.0      1.0       0.0
2        0.0      0.0      1.0       0.0
3        0.0      0.0      1.0       0.0
4        0.0      0.0      1.0       0.0
..       ...      ...      ...       ...
239      0.0      1.0      0.0       0.0
240      0.0      1.0      0.0       0.0
241      0.0      1.0      0.0       0.0
242      0.0      1.0      0.0       0.0
243      0.0      0.0      0.0       1.0

[244 rows x 4 columns]

Ordinal Encoder

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder(categories=[[1,2,3,4,5,6]])

df['size'] = oe.fit_transform(df[['size']])

df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner   1.0
1       10.34  1.66    Male     No  Sun  Dinner   2.0
2       21.01  3.50    Male     No  Sun  Dinner   2.0
3       23.68  3.31    Male     No  Sun  Dinner   1.0
4       24.59  3.61  Female     No  Sun  Dinner   3.0

Normalization

Standard Scaler