<a href="https://colab.research.google.com/github/pratikdash07/Capg_ML/blob/main/Seoul%2BDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Question

The air quality data for this segment has been divided into three different csv files.

`info.csv` has the data hour by hour data about the concentration of polutants in the air and the status of the intruments.
`item_info` has the data for items and levels of concetration.
`station_info` has the data for measuring stations.

Read in all the three datasets and then print the first five rows.

You can download the dataset from kaggle website: https://www.kaggle.com/bappekim/air-pollution-in-seoul

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("bappekim/air-pollution-in-seoul")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'air-pollution-in-seoul' dataset.
Path to dataset files: /kaggle/input/air-pollution-in-seoul

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('Measurement_info.csv')

In [ ]:
item = pd.read_csv('Measurement_item_info.csv')

In [ ]:
station = pd.read_csv('Measurement_station_info.csv')

In [ ]:
data.head(), item.head(), station.head()

(   Measurement date  Station code  Item code  Average value  Instrument status
 0  2017-01-01 00:00           101          1          0.004                  0
 1  2017-01-01 00:00           101          3          0.059                  0
 2  2017-01-01 00:00           101          5          1.200                  0
 3  2017-01-01 00:00           101          6          0.002                  0
 4  2017-01-01 00:00           101          8         73.000                  0,
    Item code Item name Unit of measurement  Good(Blue)  Normal(Green)  \
 0          1       SO2                 ppm        0.02           0.05
 1          3       NO2                 ppm        0.03           0.06
 2          5        CO                 ppm        2.00           9.00
 3          6        O3                 ppm        0.03           0.09
 4          8      PM10       Mircrogram/m3       30.00          80.00

    Bad(Yellow)  Very bad(Red)
 0         0.15            1.0
 1         0.20            2.0
 2        15.00           50.0
 3         0.15            0.5
 4       150.00          600.0  ,
    Station code Station name(district)  \
 0           101              Jongno-gu
 1           102                Jung-gu
 2           103             Yongsan-gu
 3           104           Eunpyeong-gu
 4           105           Seodaemun-gu

                                              Address   Latitude   Longitude
 0  19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...  37.572016  127.005008
 1  15, Deoksugung-gil, Jung-gu, Seoul, Republic o...  37.564263  126.974676
 2  136, Hannam-daero, Yongsan-gu, Seoul, Republic...  37.540033  127.004850
 3  215, Jinheung-ro, Eunpyeong-gu, Seoul, Republi...  37.609823  126.934848
 4  32, Segeomjeong-ro 4-gil, Seodaemun-gu, Seoul,...  37.593742  126.949679  )

#### Question

Create a new Dataframe whcih has information about the item code and item name

In [ ]:
sub_item = item[['Item code','Item name']]
sub_item.head()

   Item code Item name
0          1       SO2
1          3       NO2
2          5        CO
3          6        O3
4          8      PM10

#### Question

Create a new Dataframe whcih has information about the station code and station name

In [ ]:
sub_station = station[['Station code', 'Station name(district)']]
sub_station.head()

   Station code Station name(district)
0           101              Jongno-gu
1           102                Jung-gu
2           103             Yongsan-gu
3           104           Eunpyeong-gu
4           105           Seodaemun-gu

### Question

In the `data` DataFrame add in a column displaying the names of the items.

In [ ]:
data_i = pd.merge(data, sub_item, on= 'Item code', how = 'left')
data_i.head()

,Measurement date,Station code,Item code,Average value,Instrument status,Item name
0,2017-01-01 00:00,101,1,0.004,0,SO2
1,2017-01-01 00:00,101,3,0.059,0,NO2
2,2017-01-01 00:00,101,5,1.200,0,CO
3,2017-01-01 00:00,101,6,0.002,0,O3
4,2017-01-01 00:00,101,8,73.000,0,PM10

### Question

In the `data_i` DataFrame add in a column displaying the names of the stations.

In [ ]:
data_s = pd.merge(data, sub_station, on='Station code', how='left')
data_s.head()

,Measurement date,Station code,Item code,Average value,Instrument status,Station name(district)
0,2017-01-01 00:00,101,1,0.004,0,Jongno-gu
1,2017-01-01 00:00,101,3,0.059,0,Jongno-gu
2,2017-01-01 00:00,101,5,1.200,0,Jongno-gu
3,2017-01-01 00:00,101,6,0.002,0,Jongno-gu
4,2017-01-01 00:00,101,8,73.000,0,Jongno-gu

### Question

In the `data_s` DataFrame drop the columns `Station code` and `Item code`. As these columns have not become redundant. You can find the relevant function in the pandas library [here](https://pandas.pydata.org/docs/reference/index.html).

In [ ]:
data = data.drop(['Item code','Station code'], axis = 1)

### Question

Given below are the meanings of the values in the `Instrument status`.

- 0: Normal
- 1: Need for calibration
- 2: Abnormal
- 4: Power cut off
- 8: Under repair
- 9: Abnormal data

Using the information given above, add a column in the `data` DataFrame to give the status of the intsruments. Then drop the `Instrument status` column.  

Hint: First create a dictionary from the data, then use the same dictionary to create a DataFrame and then merge the DataFrame. with `data`

In [ ]:
status_dict = {
    0: 'Normal',
    1: 'Need calibration',
    2: 'Abnormal',
    4: 'Power cut off',
    8: 'Under repair',
    9: 'Abnormal data'
}

data['Status'] = data['Instrument status'].map(status_dict)
data = data.drop('Instrument status', axis=1)

data.head()

   Measurement date  Average value  Status
0  2017-01-01 00:00          0.004  Normal
1  2017-01-01 00:00          0.059  Normal
2  2017-01-01 00:00          1.200  Normal
3  2017-01-01 00:00          0.002  Normal
4  2017-01-01 00:00         73.000  Normal

In [ ]:
dictdf = data['Measurement date'] = pd.to_datetime(data['Measurement date'])

In [ ]:
# data =

### Question

Extract the time series data, that is year, month, date and hour form the `Measurement date` column. Once all the data is extrcted drop the `Measurement date` column.

This operation might take some time as the dataset we are working with is very large.

In [ ]:

data['Year'] = data['Measurement date'].dt.year
data['Month'] = data['Measurement date'].dt.month
data['Date'] = data['Measurement date'].dt.day
data['Hour'] = data['Measurement date'].dt.hour

In [ ]:
data = data = data.drop('Measurement date', axis=1)
data.head()

   Average value  Status  Year  Month  Date  Hour
0          0.004  Normal  2017      1     1     0
1          0.059  Normal  2017      1     1     0
2          1.200  Normal  2017      1     1     0
3          0.002  Normal  2017      1     1     0
4         73.000  Normal  2017      1     1     0